#player-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-top: 50px;
  }
  
  #audio-player {
    margin-top: 50px;
  }
  
  #controls {
    margin-top: 50px;
  }
  
  .slider-container {
    margin-bottom: 10px;
  }
  
  input[type="range"] {
    width: 80%;
  }
  